.messages {
  width: 100%;
}
.message {
  background-color: #a1a1a1;
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
}
.swiper-wrapper {
  width: 100%;
}
.btn-add {
  background-color: var(--primarycolor);
  border: none;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 10px;
}
.btn-delete {
  background-color: var(--primarycolor);
  border: none;
  color: white;
  width: 50px;
  height: 40px;
  border-radius: 10px;
}
.instructions {
  background-color: #2d2d2d;
  color: white;
  border-radius: 10px;
  height: 90%;
  margin: 10px;
}
.mapped-diet-plan {
  color: white;
  border-radius: 10px;
  height: 90%;
  margin: 10px;
}
