.mySwiper {
  width: 80%;
  height: 85%;
}

.swiper-pagination-bullet {
  background: var(--primarycolor) !important;
}
.swiper-slide {
  padding-left: 2.5px;
  padding-right: 2.5px;
}
@media screen and (min-width: 950px) {
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mySwiper {
    width: 60%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
