.camera-items {
  background-color: #2d2d2d;
  border-radius: 10px;
  margin-top: 10px;
  width: 95%;
  height: 25vh;
}
.items-img {
  width: 45%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  height: 100%;
}
.items-added {
  height: 55%;
}
.items-added .swiper {
  width: 95%;
}
.items-in-pic {
  margin: 20px 10px;
  padding: 5px 10px;
  border-radius: 10px;
  color: white;
  background-color: #a1a1a1;
  width: 80%;
  height: 50px;
  display: flex;
  align-items: center;
}
hr {
  background-color: var(--primarycolor);
  border-color: var(--primarycolor);
}
