.landing {
  background-image: url("../../assets/images/low-brightness.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;

  padding-top: 3rem;
}

.swiper {
  width: 90%;
  height: 89%;
}
.swiper-pagination-bullet {
  background: white !important;
}

.user-image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
