.swiper-div {
  height: 260px;
  background-color: #393838;
  border-radius: 10px;
  margin: 0 15px;
}
.recipe-image-large {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
.recipe-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  padding-top: 20px;
}
.recipe-desc {
  color: white;
  text-align: center;
}
.favorite-btn {
  position: absolute;
  right: 0;
}
