.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  background-color: #000000a1;
  font-weight: bold;
  text-shadow: 0 0 10px #000;
  z-index: 1;
  animation: animate 1s linear infinite;
}
.loading-message {
  font-size: 15px;
  text-align: center;
  text-shadow: 0 0 10px #000;
}
