.questions-section {
  height: 92%;
  margin: 20px 15px 0 15px;
  color: white;
}
.questions-section .swiper {
  height: 95%;
  width: 100%;
}
.questions-section .input {
  width: 90%;
  margin: 5px;
}
.swiper-button-prev,
.swiper-button-next {
  display: none !important;
}
.input-error {
  border: 1px solid red !important;
}
.color-red {
  color: red;
}
.span-error {
  color: red;
  font-size: 12px;
  margin-left: 10px;
}
