.questions-section {
  height: 92%;
  width: 100%;
  margin-top: 20px;
  color: white;
}
.questions-section .swiper {
  height: 100%;
  width: 90%;
}
.swiper-button-prev,
.swiper-button-next {
  color: var(--primarycolor) !important;
}
